.navbar-brand {
  font-weight: bold;
}

button {
  background-color: black;
}

p,
h1 {
  text-align: center;
}

h1 {
  font-weight: bolder;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 50px;
}

#in {
  border-radius: 10px;
}

#main_btn {
  border-radius: 10px;
  height: 50px;
  width: 50px;
}

.search_btn {
  align-items: center;
  width: 15px;
}
